
body {
  margin: 0.00vw;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: #FFFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC1E1;
  text-align: center;
  color: #FFFAFA;
}


/* Headings.. */

h1 {
  color: whitesmoke;
  font-size: 5.0vw;
  font-weight: bolder;
  border: 0.1vw solid whitesmoke;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
  min-width: 100.0vw
}


h2 {
  color: whitesmoke;
  font-size: 4.0vw;
  font-weight: bolder;
}


h3 {
  color: whitesmoke;
  font-size: 3.0vw;
  font-weight: bolder;
  border: 0.1vw solid whitesmoke;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
}


h4 {
  color: whitesmoke;
  font-size: 2.0vw;
  font-weight: bolder;
}


.favourite-beer-heading {
color: whitesmoke;
font-size: 5.0vw;
font-weight: bolder;
border: 0.1vw solid whitesmoke;
box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
min-width: 100vw
}


/* Buttons.. */

button {
  margin: 1.5vw;
  padding: 1.5vw;
  font-family: 'Amatic SC', cursive;
  background-color: #FFC1E1;
  text-align: center;
  color: whitesmoke;
  font-size: 2.5vw;
  font-weight: bolder;
  border: 0.1vw solid whitesmoke;
  border-radius: 0.8vw;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
  cursor: pointer;
}


/* Flexbox, Gird, and Containers.. */

.flexbox{
  margin: 0.0vw;
}


.flexbox-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: bold;
}


/* Contents, and detail.. */

.list-item{
  padding: 2.5vw;
  margin: 0.25vw;
  width: 20.0vw;
  height: 25.0vw;
  border-radius: 0.8vw;
  border: 0.1vw solid whitesmoke;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
}


p {
  color: #FFFAFA;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 2.5vw;
  padding: 2.5vw;
}


/* Images, and icons.. */

img {
  height: 14.0vw;
}

