
body {
  margin: 0.00vw;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: #FFFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC1E1;
  text-align: center;
  background: url('./static/unsplash_trippy_background_image_1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 0.1vw 0.1vw #FF69B4;
}


/* Headings.. */

h1 {
  color: white;
  font-size: 5.0vw;
  font-weight: bolder;
  border-radius:0.5vw;
  border: 0.1vw solid #5CFFFF;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
  min-width: 98.7vw;
  background: url('./static/unsplash_trippy_background_image_2.jpg');
  text-shadow: 0.1vw 0.1vw #FF69B4;
}


h2 {
  color: whitesmoke;
  font-size: 4.0vw;
  font-weight: bolder;
  text-shadow: 0.1vw 0.1vw #FF69B4;
}


h3 {
  color: whitesmoke;
  font-size: 3.0vw;
  font-weight: bolder;
  border-radius:0.5vw;
  border: 0.1vw solid #5CFFFF;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
  text-shadow: 0.1vw 0.1vw #FF69B4;
}


h4 {
  color: whitesmoke;
  font-size: 2.0vw;
  font-weight: bolder;
  text-shadow: 0.1vw 0.1vw #FF69B4;
}


/* Buttons.. */

button {
  margin: 1.5vw;
  padding: 1.5vw;
  font-family: 'Amatic SC', cursive;
  background-color: #FFC1E1;
  text-align: center;
  color: whitesmoke;
  font-size: 2.5vw;
  font-weight: bolder;
  text-shadow: 0.1vw 0.1vw #FF69B4;
  border-radius:0.5vw;
  border: 0.1vw solid #5CFFFF;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
  cursor: pointer;
  background: url('./static/unsplash_trippy_background_image_2.jpg');
}


/* Flexbox, Gird, and Containers.. */

.flexbox{
  margin: 0.0vw;
}


.flexbox-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: bold;
}


/* Items, content, and detail.. */

.list-item{
  padding: 2.5vw;
  margin: 0.25vw;
  width: 20.0vw;
  height: 25.0vw;
  border-radius:0.5vw;
  border: 0.1vw solid #5CFFFF;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
  background: url('./static/unsplash_trippy_background_image_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.detail-item{
  padding: 2.5vw;
  margin: 0.25vw;
  min-width: 30.0vw;
  min-height: 30.0vw;
  border-radius:0.5vw;
  border: 0.1vw solid #5CFFFF;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
  background: url('./static/unsplash_trippy_background_image_2.jpg');
}


p {
  color: #FFFAFA;
  font-size: 2.0vw;
  font-weight: bold;
  margin: 0.5vw;
  padding: 0.5vw;
}


/* Images, and icons.. */

img {
  height: 15.0vw;
  border-radius: 0.5vw;
  border: 0.1vw solid #5CFFFF;
  box-shadow: 0.25vw 0.25vw 0.25vw #FF69B4;
}

